<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
</head>
<body>
    <script>
        var socket;
        if(typeof (WebSocket) == "undefined"){
            console.log("您的浏览器不支持websocket");
        }else{
            console.log("您的浏览器支持websocket");
            socket = new WebSocket("ws://localhost:8080/websocket/6");
            socket.onopen = function () {
                socket.send("message from client");
            };
            socket.onmessage = function (msg) {
                alert(msg);
            }
        }
    </script>
</body>
</html>